@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Krakow Society</h1>
    <p>Bagels and more.....well pretty much just bagels and cream cheese</a>.</p>
    <h2> Next up is <span style="font-weight:900">Person Name</span></h2>
</div>
