@{
    ViewData["Title"] = "Up Next in Krakow";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h4>This test should say pizza in the next line</h4>
<h3>@Model.Checker</h3>